$fb-colour: #3b5998;
$google-colour: #0F9D58;
$instagram-colour: #e1306c;
$twitter-colour: #00acee;
$foot-bg: #171717;

$max-width: 1080px;
$spacing: 0.1rem;
$transition: all 0.3s linear;
$radius: 0.25rem;

$marks-colour: #e53333;